@model HomeViewModel
@{
    ViewData["Title"] = "Axtarış";

    ViewData["Loader"] = "<div id=\"loadertop\"></div>";
}




<section class="side-navbar">
    <div id="mySidenav" class="sidenav">

        @foreach (var category in Model.Categories)
        {


            <a class="category-title"><i class="bi bi-record-circle"></i> <p>@category.Name</p> </a>

        }


    </div>
</section>

<main>
    <div class="d-flex justify-content-center align-items-center">
        <div class="form-outline">
            <a style="padding-left: 15px; color: #343434" asp-action="Index">Axtarış nəticələrini sıfırla</a>
        </div>
    </div>



    <div style="padding-top: 55px; padding-bottom: 55px;" class="container">
        <div class="row">


            @foreach (var product in Model.Products)
            {

                <div class="myproduct-item">

                    <a class="go-product" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                        <div class="product-card">
                            <div class="product-image">
                                <img src="~/assets/img/@Model.ProductImages.Where(p => p.ProductId == product.Id && p.IsMain == true).FirstOrDefault().Image" alt="">
                            </div>

                            <div class="add-fav">
                                <a class="add-fav-btn" asp-controller="ProductOperation" asp-action="SetFavourite" asp-route-id="@product.Id" asp-route-ReturnUrl="@Context.Request.Path.Value"><i class="fas fa-heart"></i></a>
                            </div>

                            <div class="product-detail">
                                <h2>@product.Name</h2>
                                <div class="fav-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>

                                @if (product.IsDiscount == true)
                                {
                                    <p class="product-price">₼ <s>@product.Price</s> @product.DiscountPrice</p>

                                }
                                else
                                {

                                    <p class="product-price">₼ @product.Price</p>
                                }

                            </div>

                            <div class="product-operations">

                                <a class="add-to-cart-btn" asp-controller="ProductOperation" asp-action="SetCart" asp-route-id="@product.Id" asp-route-ReturnUrl="@Context.Request.Path.Value"><i class="bi bi-cart-plus-fill"></i></a>
                            </div>


                        </div>
                    </a>

                </div>

            }


        </div>
    </div>

</main>