@using System.Linq
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";

    ViewData["Loader"] = "<div id=\"loader\"></div>";
    ViewData["LoaderTwo"] = "<div id=\"loader_two\"></div>";




}

<section class="side-navbar">
    <div id="mySidenav" class="sidenav">
        <a class="dropdown-btn category-title"><i class="bi bi-laptop"></i> <p>Kompüterlər</p></a>
        <div class="dropdown-container">
            <a class="text-center category-item" href="#"><p>Apple</p></a>
            <a class="text-center category-item" href="#"><p>Lenovo</p></a>
            <a class="text-center category-item" href="#"><p>HP</p></a>
            <a class="text-center category-item" href="#"><p>Dell</p></a>
            <a class="text-center category-item" href="#"><p>Acer</p></a>
            <a class="text-center category-item" href="#"><p>Asus</p></a>
            <a class="text-center category-item" href="#"><p>MSI</p></a>
        </div>
        <a class="dropdown-btn category-title"><i class="bi bi-phone"></i> <p>Smartfonlar</p> </a>
        <div class="dropdown-container">
            <a class="text-center category-item" href="#"><p>Apple</p></a>
            <a class="text-center category-item" href="#"><p>Samsung</p></a>
            <a class="text-center category-item" href="#"><p>LG</p></a>
            <a class="text-center category-item" href="#"><p>Nokia</p></a>
        </div>
        <a class="dropdown-btn category-title"><i class="bi bi-earbuds"></i> <p>Aksesuarlar</p> </a>
        <div class="dropdown-container">
            <a class="text-center category-item" href="#"><p>Qulaqcıqlar</p></a>
            <a class="text-center category-item" href="#"><p>Siçanlar</p></a>
            <a class="text-center category-item" href="#"><p>Klaviaturalar</p></a>
            <a class="text-center category-item" href="#"><p>Siçan Altlıqları</p></a>
            <a class="text-center category-item" href="#"><p>Yaddaş Qurğuları</p></a>
            <a class="text-center category-item" href="#"><p>Əlavə Qurğular</p></a>
        </div>

        <a class="go-to-up category-title" href="#top"><i class="bi bi-arrow-up"></i> <p>Yuxarı</p></a>
    </div>
</section>

<main>

    <section class="welcome">
        <div class="welcome-parallax">

            <div class="welcome-parallax-content">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <div class="timer">
                                <h2 class="time-title">@Model.DiscountTimer.DiscountTittle</h2>

                                <div id="time" class="time d-flex justify-content-center">
                                    <input type="hidden" id="endtime" value="@Model.DiscountTimer.DiscountTime">
                                    <div class="time-card">
                                        <h3 class="time-item" data-days="">00</h3>
                                        <p>Days</p>
                                    </div>
                                    <div class="time-card">
                                        <h3 class="time-item" data-hours="">00</h3>
                                        <p>Hours</p>
                                    </div>
                                    <div class="time-card">
                                        <h3 class="time-item" data-minutes="">00</h3>
                                        <p>Minutes</p>
                                    </div>
                                    <div class="time-card">
                                        <h3 class="time-item" data-seconds="">00</h3>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6">


                            <div class="slider">

                                
                                    <a class="go-product" asp-controller="Product" asp-action="Index" asp-route-id="@Model.Products.Where(p=>p.IsDiscount==true).LastOrDefault().Id">
                                        <div class="product-card">
                                            <div class="product-image">
                                                <img src="~/assets/img/@Model.ProductImages.Where(p => p.ProductId == Model.Products.Where(p=>p.IsDiscount==true).LastOrDefault().Id && p.IsMain == true).FirstOrDefault().Image" alt="">
                                            </div>

                                            <div class="add-fav">
                                                <a class="add-fav-btn" asp-controller="ProductOperation" asp-action="SetFavourite" asp-route-id="@Model.Products.Where(p=>p.IsDiscount==true).LastOrDefault().Id"><i class="fas fa-heart"></i></a>
                                            </div>

                                            <div class="product-detail">
                                                <h2>@Model.Products.Where(p=>p.IsDiscount==true).LastOrDefault().Name</h2>
                                                <div class="fav-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    
                                                </div>


                                                <p class="product-price">₼ <s>@Model.Products.Where(p => p.IsDiscount == true).LastOrDefault().Price</s> @Model.Products.Where(p=>p.IsDiscount==true).LastOrDefault().DiscountPrice</p>

                                            </div>

                                            <div class="product-operations">

                                                <a class="add-to-cart-btn" asp-controller="ProductOperation" asp-action="SetCart" asp-route-id="@Model.Products.Where(p=>p.IsDiscount==true).LastOrDefault().Id" ><i class="bi bi-cart-plus-fill"></i></a>
                                            </div>


                                        </div>
                                    </a>

                            </div>

                        </div>







                    </div>



                </div>
            </div>
        </div>
    </section>



    @foreach (var item in Model.Categories)
    {
        <section class="laptops">


            <ul class="nav nav-tabs" id="ComputerTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="all-@item.Name-tab" data-toggle="tab" href="#all-@item.Name" role="tab" aria-controls="all-@item.Name" aria-selected="true">Bütün @item.Name</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="discount-@item.Name-tab" data-toggle="tab" href="#discount-@item.Name" role="tab" aria-controls="discount-@item.Name" aria-selected="false">Endirimdə olanlar</a>
                </li>
            </ul>

            <div class="tab-content" id="ComputerTabContent">
                
                    <div class="tab-pane fade show active" id="all-@item.Name" role="tabpanel" aria-labelledby="all-@item.Name-tab">


                        <div class="myproduct owl-carousel owl-theme">

                            @foreach (var product in Model.Products.Where(p => p.CategoryId == item.Id))
                            {

                                <div class="myproduct-item">

                                    <a class="go-product" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                        <div class="product-card">
                                            <div class="product-image">
                                                <img src="~/assets/img/@Model.ProductImages.Where(p => p.ProductId == product.Id && p.IsMain == true).FirstOrDefault().Image" alt="">
                                            </div>

                                            <div class="add-fav">
                                                <a class="add-fav-btn" asp-controller="ProductOperation" asp-action="SetFavourite" asp-route-id="@product.Id"><i class="fas fa-heart"></i></a>
                                            </div>

                                            <div class="product-detail">
                                                <h2>@product.Name</h2>
                                                <div class="fav-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>

                                                @if (product.IsDiscount == true)
                                                {
                                                    <p class="product-price">₼ <s>@product.Price</s> @product.DiscountPrice</p>

                                                }
                                                else
                                                {
                                                    
                                                    <p class="product-price">₼ @product.Price</p>
                                                }

                                            </div>

                                            <div class="product-operations">

                                                <a class="add-to-cart-btn" asp-controller="ProductOperation" asp-action="SetCart" asp-route-id="@product.Id"><i class="bi bi-cart-plus-fill"></i></a>
                                            </div>


                                        </div>
                                    </a>

                                </div>

                            }

                            


                        </div>


                    </div>


                    <div class="tab-pane fade" id="discount-@item.Name" role="tabpanel" aria-labelledby="discount-@item.Name-tab">

                        <div class="myproduct owl-carousel owl-theme">
                            
                            
                            @foreach (var discoutproduct in @Model.Products.Where(p=>p.CategoryId == item.Id && p.IsDiscount==true))
                            {
                                
                                <div class="myproduct-item">

                                    <a class="go-product" asp-controller="Product" asp-action="Index">
                                        <div class="product-card">
                                            <div class="product-image">
                                                <img src="~/assets/img/@Model.ProductImages.Where(p => p.ProductId == discoutproduct.Id && p.IsMain == true).FirstOrDefault().Image" alt="">
                                            </div>

                                            <div class="add-fav">
                                                <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                            </div>

                                            <div class="product-detail">
                                                <h2>@discoutproduct.Name</h2>
                                                <div class="fav-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>


                                                <p class="product-price">₼ <s>@discoutproduct.Price</s> @discoutproduct.DiscountPrice</p>

                                            </div>

                                            <div class="product-operations">

                                                <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                            </div>


                                        </div>
                                    </a>

                                </div>

                            }


                        </div>

                    </div>
                
            </div>
        </section>
    }
    





    


    <section class="brands">

        <div class="container">
            <div class="row">
                <div class="brands-slider owl-carousel owl-theme">
                    
                    @foreach (var item in Model.Brands)
                    {
                        <div class="brands-item">
                            <img src="~/assets/img/@item.Logo" alt="">
                        </div>
                    }
                    

                </div>
            </div>
        </div>

    </section>

</main>