@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";

    ViewData["Loader"] = "<div id=\"loader\"></div>";
    ViewData["LoaderTwo"] = "<div id=\"loader_two\"></div>";
    



}



<main>

    <section class="welcome">
        <div class="welcome-parallax">

            <div class="welcome-parallax-content">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <div class="timer">
                                <h2 class="time-title">Bayram endirimləri davam edir !</h2>

                                <div id="time" class="time d-flex justify-content-center">
                                    <!-- <p style="display: none;" class="endtime">28 January 2022 10:00:00 GMT+01:00</p> -->
                                    <input type="hidden" id="endtime" value="25 April 2022 10:00:00 GMT+01:00">
                                    <div class="time-card">
                                        <h3 class="time-item" data-days="">00</h3>
                                        <p>Days</p>
                                    </div>
                                    <div class="time-card">
                                        <h3 class="time-item" data-hours="">00</h3>
                                        <p>Hours</p>
                                    </div>
                                    <div class="time-card">
                                        <h3 class="time-item" data-minutes="">00</h3>
                                        <p>Minutes</p>
                                    </div>
                                    <div class="time-card">
                                        <h3 class="time-item" data-seconds="">00</h3>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6">


                            <div class="slider">

                                <a class="go-product" asp-controller="Product" asp-action="Index">
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="~/assets/img/laptops/acer1.jpg" alt="">
                                        </div>

                                        <div class="add-fav">
                                            <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                        </div>

                                        <div class="product-detail">
                                            <h2>Acer</h2>
                                            <div class="fav-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>


                                            <p class="product-price">₼ <s>250</s> 500</p>

                                        </div>

                                        <div class="product-operations">

                                            <a class="add-to-cart-btn" ><i class="bi bi-cart-plus-fill"></i></a>
                                        </div>


                                    </div>
                                </a>

                            </div>

                        </div>







                    </div>



                </div>
            </div>
        </div>
    </section>



    @foreach (var item in Model.Categories)
    {
        <section class="laptops">


            <ul class="nav nav-tabs" id="ComputerTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="all-@item.Name-tab" data-toggle="tab" href="#all-@item.Name" role="tab" aria-controls="all-@item.Name" aria-selected="true">Bütün @item.Name</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="discount-@item.Name-tab" data-toggle="tab" href="#discount-@item.Name" role="tab" aria-controls="discount-@item.Name" aria-selected="false">Endirimdə olanlar</a>
                </li>
            </ul>

            <div class="tab-content" id="ComputerTabContent">
                
                    <div class="tab-pane fade show active" id="all-@item.Name" role="tabpanel" aria-labelledby="all-@item.Name-tab">


                        <div class="myproduct owl-carousel owl-theme">

                            @foreach (var product in Model.Products.Where(p => p.CategoryId == item.Id))
                            {

                                <div class="myproduct-item">

                                    <a class="go-product" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                        <div class="product-card">
                                            <div class="product-image">
                                                <img src="~/assets/img/@Model.ProductImages.Where(p => p.ProductId == product.Id && p.IsMain == true).FirstOrDefault().Image" alt="">
                                            </div>

                                            <div class="add-fav">
                                                <a class="add-fav-btn" asp-controller="ProductOperation" asp-action="SetFavourite" asp-route-id="@product.Id"><i class="fas fa-heart"></i></a>
                                            </div>

                                            <div class="product-detail">
                                                <h2>@product.Name</h2>
                                                <div class="fav-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>


                                                <p class="product-price">₼ @product.Price</p>

                                            </div>

                                            <div class="product-operations">

                                                <a class="add-to-cart-btn" asp-controller="ProductOperation" asp-action="SetCart" asp-route-id="@product.Id"><i class="bi bi-cart-plus-fill"></i></a>
                                            </div>


                                        </div>
                                    </a>

                                </div>

                            }

                            


                        </div>


                    </div>


                    <div class="tab-pane fade" id="discount-@item.Name" role="tabpanel" aria-labelledby="discount-@item.Name-tab">

                        <div class="myproduct owl-carousel owl-theme">
                            <div class="myproduct-item">

                                <a class="go-product" asp-controller="Product" asp-action="Index">
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="~/assets/img/laptops/acer1.jpg" alt="">
                                        </div>

                                        <div class="add-fav">
                                            <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                        </div>

                                        <div class="product-detail">
                                            <h2>Acer</h2>
                                            <div class="fav-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>


                                            <p class="product-price">₼ <s>1000</s> 500</p>

                                        </div>

                                        <div class="product-operations">

                                            <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                        </div>


                                    </div>
                                </a>

                            </div>

                            <div class="myproduct-item">

                                <a class="go-product" asp-controller="Product" asp-action="Index">
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="~/assets/img/laptops/mac1.jpg" alt="">
                                        </div>

                                        <div class="add-fav">
                                            <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                        </div>

                                        <div class="product-detail">
                                            <h2>Acer</h2>
                                            <div class="fav-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>


                                            <p class="product-price">₼ <s>1000</s> 500</p>

                                        </div>

                                        <div class="product-operations">

                                            <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                        </div>


                                    </div>
                                </a>

                            </div>

                            <div class="myproduct-item">

                                <a class="go-product" asp-controller="Product" asp-action="Index">
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="~/assets/img/laptops/laptop1.png" alt="">
                                        </div>

                                        <div class="add-fav">
                                            <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                        </div>

                                        <div class="product-detail">
                                            <h2>Acer</h2>
                                            <div class="fav-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>


                                            <p class="product-price">₼ <s>1000</s> 500</p>

                                        </div>

                                        <div class="product-operations">

                                            <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                        </div>


                                    </div>
                                </a>

                            </div>
                        </div>

                    </div>
                
            </div>
        </section>
    }
    







    <!--<section class="laptops">


            <ul class="nav nav-tabs" id="ComputerTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="all-computers-tab" data-toggle="tab" href="#all-computers" role="tab" aria-controls="all-computers" aria-selected="true">Bütün kompüterlər</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="discount-computers-tab" data-toggle="tab" href="#discount-computers" role="tab" aria-controls="discount-computers" aria-selected="false">Endirimdə olanlar</a>
                </li>
            </ul>

            <div class="tab-content" id="ComputerTabContent">
                <div class="tab-pane fade show active" id="all-computers" role="tabpanel" aria-labelledby="all-computers-tab">


                    <div class="myproduct owl-carousel owl-theme">


                        
                            <div class="myproduct-item">

                                <a class="go-product" asp-controller="Product" asp-action="Index">
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="~/assets/img/laptops/acer1.jpg" alt="">
                                        </div>

                                        <div class="add-fav">
                                            <a class="add-fav-btn" asp-controller="Favourite" asp-action="AddFavourite" asp-route-id="Id"><i class="fas fa-heart"></i></a>
                                        </div>

                                        <div class="product-detail">
                                            <h2>Name</h2>
                                            <div class="fav-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>


                                            <p class="product-price">₼ Price</p>

                                        </div>

                                        <div class="product-operations">

                                            <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                        </div>


                                    </div>
                                </a>

                            </div>


                    </div>


                </div>

                <div class="tab-pane fade" id="discount-computers" role="tabpanel" aria-labelledby="discount-computers-tab">

                    <div class="myproduct owl-carousel owl-theme">
                        <div class="myproduct-item">

                            <a class="go-product" asp-controller="Product" asp-action="Index">
                                <div class="product-card">
                                    <div class="product-image">
                                        <img src="~/assets/img/laptops/acer1.jpg" alt="">
                                    </div>

                                    <div class="add-fav">
                                        <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                    </div>

                                    <div class="product-detail">
                                        <h2>Acer</h2>
                                        <div class="fav-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>


                                        <p class="product-price">₼ <s>1000</s> 500</p>

                                    </div>

                                    <div class="product-operations">

                                        <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                    </div>


                                </div>
                            </a>

                        </div>

                        <div class="myproduct-item">

                            <a class="go-product" asp-controller="Product" asp-action="Index">
                                <div class="product-card">
                                    <div class="product-image">
                                        <img src="~/assets/img/laptops/mac1.jpg" alt="">
                                    </div>

                                    <div class="add-fav">
                                        <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                    </div>

                                    <div class="product-detail">
                                        <h2>Acer</h2>
                                        <div class="fav-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>


                                        <p class="product-price">₼ <s>1000</s> 500</p>

                                    </div>

                                    <div class="product-operations">

                                        <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                    </div>


                                </div>
                            </a>

                        </div>

                        <div class="myproduct-item">

                            <a class="go-product" asp-controller="Product" asp-action="Index">
                                <div class="product-card">
                                    <div class="product-image">
                                        <img src="~/assets/img/laptops/laptop1.png" alt="">
                                    </div>

                                    <div class="add-fav">
                                        <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                    </div>

                                    <div class="product-detail">
                                        <h2>Acer</h2>
                                        <div class="fav-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>


                                        <p class="product-price">₼ <s>1000</s> 500</p>

                                    </div>

                                    <div class="product-operations">

                                        <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                    </div>


                                </div>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="smartphones">-->
    <!-- <div class="container example-title">
        <div class="row">

            <h2 class="text-center">Smartfonlar

                <a class="example-title-btn" href="#smartfonlar">Daha çox</a>

            </h2>
        </div>
    </div> -->
    <!--<ul class="nav nav-tabs" id="SmartphoneTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="all-smartphones-tab" data-toggle="tab" href="#all-smartphones" role="tab" aria-controls="all-smartphones" aria-selected="true">Bütün Smartfonlar</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="discount-smartphones-tab" data-toggle="tab" href="#discount-smartphones" role="tab" aria-controls="discount-smartphones" aria-selected="false">Endirimdə olanlar</a>
            </li>
        </ul>

        <div class="tab-content" id="SmartphoneTabContent">
            <div class="tab-pane fade show active" id="all-smartphones" role="tabpanel" aria-labelledby="all-smartphones-tab">

                <div class="myproduct owl-carousel owl-theme">
                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/smartphones/13progold.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/smartphones/a50.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/smartphones/zflip3.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>
                </div>


            </div>

            <div class="tab-pane fade" id="discount-smartphones" role="tabpanel" aria-labelledby="discount-smartphones-tab">

                <div class="myproduct owl-carousel owl-theme">
                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/smartphones/13progold.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ <s>1000</s> 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/smartphones/a50.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ <s>1000</s> 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/smartphones/zflip3.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ <s>1000</s> 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>
                </div>

            </div>
        </div>

    </section>


    <section class="discount-products">-->
    <!-- <div class="container example-title">
        <div class="row">

            <h2 class="text-center">Endirimdə olan məhsullar

                <a class="example-title-btn" href="#kateqoriyalar">Daha çox</a>

            </h2>
        </div>
    </div> -->
    <!--<ul class="nav nav-tabs" id="AccessorieTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="all-accessories-tab" data-toggle="tab" href="#all-accessories" role="tab" aria-controls="all-accessories" aria-selected="true">Bütün Aksesuarlar</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="discount-accessories-tab" data-toggle="tab" href="#discount-accessories" role="tab" aria-controls="discount-accessories" aria-selected="false">Endirimdə olanlar</a>
            </li>
        </ul>

        <div class="tab-content" id="AccessorieTabContent">
            <div class="tab-pane fade show active" id="all-accessories" role="tabpanel" aria-labelledby="all-accessories-tab">

                <div class="myproduct owl-carousel owl-theme">
                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/adapter.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/micrototypec.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/screendefender.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/wireless-charge.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>
                </div>


            </div>

            <div class="tab-pane fade" id="discount-accessories" role="tabpanel" aria-labelledby="discount-accessories-tab">


                <div class="myproduct owl-carousel owl-theme">
                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/adapter.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ <s>1000</s> 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/micrototypec.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ <s>1000</s> 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/screendefender.png" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ <s>1000</s> 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>

                    <div class="myproduct-item">

                        <a class="go-product" asp-controller="Product" asp-action="Index">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="~/assets/img/accessories/" alt="">
                                </div>

                                <div class="add-fav">
                                    <a class="add-fav-btn" href="#"><i class="fas fa-heart"></i></a>
                                </div>

                                <div class="product-detail">
                                    <h2>Acer</h2>
                                    <div class="fav-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>


                                    <p class="product-price">₼ <s>1000</s> 500</p>

                                </div>

                                <div class="product-operations">

                                    <a class="add-to-cart-btn" href="#buy"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>


                            </div>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>-->



    <section class="brands">

        <div class="container">
            <div class="row">
                <div class="brands-slider owl-carousel owl-theme">
                    <div class="brands-item">
                        <img src="~/assets/img/brands/apple.png" alt="">
                    </div>
                    <div class="brands-item">
                        <img src="~/assets/img/brands/dell.png" alt="">
                    </div>
                    <div class="brands-item">
                        <img src="~/assets/img/brands/htc.png" alt="">
                    </div>
                    <div class="brands-item">
                        <img src="~/assets/img/brands/lenovo.png" alt="">
                    </div>
                    <div class="brands-item">
                        <img src="~/assets/img/brands/nokia.png" alt="">
                    </div>
                    <div class="brands-item">
                        <img src="~/assets/img/brands/samsung.png" alt="">
                    </div>
                    <div class="brands-item">
                        <img src="~/assets/img/brands/xiaomi.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>