@model Business.ViewModels.UserSendViewModel.UserSendViewModel
@{
    ViewData["Title"] = "Göndərilən Sifarişlər";
    int count = 1;
}


<!-- Begin Page Content -->
<div class="container-fluid">



    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Göndərilən Sifarişlər</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">



        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Müştəri</th>
                            <th scope="col">Məhsul</th>
                            <th scope="col">Məhsulun adı</th>
                            <th scope="col">Məhsulun qiyməti</th>
                            <th scope="col">Vəziyyəti</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductOperationsOrders)
                        {
                            var product = Model.Products.Where(p => p.Id == item.ProductId).FirstOrDefault();



                            <tr>
                                <th scope="row">@count</th>
                                <td scope="row">@item.ApplicationUserId</td>
                                <td><img width="150" src="~/assets/img/@Model.ProductImages.Where(pi=>pi.ProductId == product.Id && pi.IsMain==true).FirstOrDefault().Image" /></td>
                                <td>@product.Name</td>
                                <td>

                                    @if (@product.IsDiscount == true)
                                    {
                                        <s>@product.Price</s> @product.DiscountPrice
                                    }
                                    else
                                    {

                                        @product.Price;
                                    }
                                    ₼
                                </td>
                                <td>
                                    Göndərilb
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-area="Default" asp-controller="ProductOperation" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                </td>
                            </tr>

                            count++;


                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
