@model Business.ViewModels.FavouriteViewModel
@{
    ViewData["Title"] = "Bəyəndiklərim";
        ViewData["Loader"] = "<div id=\"loadertop\"></div>";
        int count = 1;
}


<section class="side-navbar">
    <div id="mySidenav" class="sidenav">
        <a class="dropdown-btn category-title"><i class="bi bi-laptop"></i> <p>Kompüterlər</p></a>
        <div class="dropdown-container">
            <a class="text-center category-item" href="#"><p>Apple</p></a>
            <a class="text-center category-item" href="#"><p>Lenovo</p></a>
            <a class="text-center category-item" href="#"><p>HP</p></a>
            <a class="text-center category-item" href="#"><p>Dell</p></a>
            <a class="text-center category-item" href="#"><p>Acer</p></a>
            <a class="text-center category-item" href="#"><p>Asus</p></a>
            <a class="text-center category-item" href="#"><p>MSI</p></a>
        </div>
        <a class="dropdown-btn category-title"><i class="bi bi-phone"></i> <p>Smartfonlar</p> </a>
        <div class="dropdown-container">
            <a class="text-center category-item" href="#"><p>Apple</p></a>
            <a class="text-center category-item" href="#"><p>Samsung</p></a>
            <a class="text-center category-item" href="#"><p>LG</p></a>
            <a class="text-center category-item" href="#"><p>Nokia</p></a>
        </div>
        <a class="dropdown-btn category-title"><i class="bi bi-earbuds"></i> <p>Aksesuarlar</p> </a>
        <div class="dropdown-container">
            <a class="text-center category-item" href="#"><p>Qulaqcıqlar</p></a>
            <a class="text-center category-item" href="#"><p>Siçanlar</p></a>
            <a class="text-center category-item" href="#"><p>Klaviaturalar</p></a>
            <a class="text-center category-item" href="#"><p>Siçan Altlıqları</p></a>
            <a class="text-center category-item" href="#"><p>Yaddaş Qurğuları</p></a>
            <a class="text-center category-item" href="#"><p>Əlavə Qurğular</p></a>
        </div>

        <a class="go-to-up category-title" href="#top"><i class="bi bi-arrow-up"></i> <p>Yuxarı</p></a>
    </div>
</section>





<main>

<div class="container">
    <div style="padding-top: 55px; padding-bottom: 55px">
        <div class="row">
        
               

            @if (Model.ProductOperations.Count != 0)
            {
                
                <h2 style="padding-bottom: 15px">Bəyəndiklərim siyahısı:</h2>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Məhsul</th>
                        <th scope="col">Məhsulun adı</th>
                        <th scope="col">Məhsulun sayı</th>
                        <th scope="col">Məhsulun qiyməti</th>
                        <th scope="col"></th>

                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.ProductOperations)
                    {
                        var product = Model.Products.Where(p => p.Id == item.ProductId).FirstOrDefault();

                        <tr>
                            <th scope="row">@count</th>
                            <td><img width="150" src="~/assets/img/@Model.ProductImages.Where(pi=>pi.ProductId == product.Id && pi.IsMain==true).FirstOrDefault().Image"/></td>
                            <td>@product.Name</td>
                            <td>@product.Count</td>
                            <td>
                                ₼
                                @if (@product.IsDiscount == true)
                                {
                                    <s>@product.Price</s> @product.DiscountPrice
                                }
                                else
                                {
                                    
                                    @product.Price;
                                }

                            </td>
                            <td><a asp-controller="ProductOperation" asp-action="DeleteFavourite" asp-route-id="@product.Id"><i class="bi bi-trash-fill"></i></a></td>
                        </tr>

                        count++;


                    }

                    </tbody>
                </table>
            
            }

            else
            {
                <h2>Bəyəndiklərim siyahısı boşdur !</h2>
            }



        </div>
     
    </div>
</div>
</main>