@model Business.ViewModels.FavouriteViewModel
@{
    ViewData["Title"] = "Bəyəndiklərim";
        ViewData["Loader"] = "<div id=\"loadertop\"></div>";
        int count = 1;
}

<div class="container">
    <div style="padding-top: 55px; padding-bottom: 55px">
        <div class="row">
        
               

            @if (Model.ProductOperations.Count != 0)
            {
                
                <h2 style="padding-bottom: 15px">Bəyəndiklərim siyahısı:</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Məhsul</th>
                            <th scope="col">Məhsulun adı</th>
                            <th scope="col">Məhsulun sayı</th>
                            <th scope="col">Məhsulun qiyməti</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductOperations)
                        {
                            var product = Model.Products.Where(p => p.Id == item.ProductId).FirstOrDefault();

                        <tr>
                            <th scope="row">@count</th>
                            <td><img width="150" src="~/assets/img/@Model.ProductImages.Where(pi=>pi.ProductId == product.Id && pi.IsMain==true).FirstOrDefault().Image"/></td>
                            <td>@product.Name</td>
                            <td>@product.Count</td>
                            <td>
                                ₼
                                @if (@product.IsDiscount == true)
                                {
                                    <s>@product.Price</s> @product.DiscountPrice
                                }
                                else
                                {
                                    @product.Price;
                                }

                            </td>
                            <td><a asp-controller="ProductOperation" asp-action="DeleteFavourite"><s><i class="fa-solid fa-heart"></i></s></a></td>
                        </tr>

                            count++;


                        }

                    </tbody>
                </table>
            
            }

            else
            {
                <h2>Bəyəndiklərim siyahısı boşdur !</h2>
            }



        </div>
     
    </div>
</div>