@model Business.ViewModels.ProductCommentViewModels.ProductCommentViewModel
@{
    ViewData["Title"] = "ProductDetail";
}


<main>

    <p class="mb-4 d-flex justify-content-end">
        <a class="mr-2 btn btn-primary" asp-controller="Product" asp-action="Index"> <i class="bi bi-chevron-left"></i> Geri</a>
        <a class="mr-2 btn btn-primary" asp-controller="Product" asp-action="Update" asp-route-id="@Model.Product.Id"> <i class="bi bi-pencil-square"></i> Düzəliş et</a>
    </p>

    <div class="main-wrapper">
        <div class="container">
            <div class="product-div">
                <div class="product-div-left">
                    <div class="img-container">
                        <img class="product-page-image" src="~/assets/img/@Model.ProductImages.Where(pi=>pi.ProductId==Model.Product.Id && pi.IsMain==true).FirstOrDefault().Image" alt="watch">


                    </div>
                    <div class="hover-container">

                        @foreach (var item in Model.ProductImages.Where(pi => pi.ProductId == Model.Product.Id).ToList())
                        {
                            <div><img class="product-page-image" src="~/assets/img/@item.Image"></div>
                        }


                    </div>
                </div>
                <div class="product-div-right">
                    <span class="product-name">@Model.Product.Name</span>


                    <div class="product-rating">
                        <h5>@Model.Product.Description</h5>
                    </div>

                    @if (@Model.Product.IsDiscount == true)
                    {
                        <span class="product-price"> <s>@Model.Product.Price</s> @Model.Product.DiscountPrice ₼</span>
                    }
                    else
                    {
                        <span class="product-price"> @Model.Product.Price ₼</span>
                    }

                    <p class="product-description">@Html.Raw(Model.Product.Information)</p>
                    
                </div>
            </div>
        </div>
    </div>


    


    <div class="container">
        <section>
            <div class="container">
                <div class="row">

                    @foreach (var item in @Model.Comments)
                    {
                        <div class="col-md-8">
                            <div class="media g-mb-30 media-comment">
                                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="~/user/img/userlogo.png" alt="Image Description">

                                <a asp-area="Default" asp-controller="Product" asp-action="DeleteComment" asp-route-id="@item.Id" asp-route-ReturnUrl="@Context.Request.Path.Value">Sil</a>

                                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                    <div class="g-mb-15">
                                        <h5 class="h5 g-color-gray-dark-v1 mb-0">@item.Username</h5>




                                        <span class="g-color-gray-dark-v4 g-font-size-12">@item.CreateDT</span>
                                    </div>

                                    <p>
                                        @item.Comment
                                    </p>


                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>
    </div>

</main>



