@model ProductUpdateViewModel
@{
    ViewData["Title"] = "Update";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Məhsul əlavə et</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Məhsulun adı:</label>
                    <input required class="form-control" value="@Model.Name" asp-for="Name" placeholder="Məhsulun adını daxil edin...">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Məhsul haqqında:</label>
                    <input required class="form-control" value="@Model.Description" asp-for="Description" placeholder="Məhsul haqqında məlumat daxil edin...">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Information">Məhsul haqqında əlavə məlumat:</label>
                    <input required class="form-control" value="@Model.Information" asp-for="Information" placeholder="Məhsul haqqında əlavə məlumat daxil edin...">
                    <span class="text-danger" asp-validation-for="Information"></span>
                </div>




                <div class="form-group">
                    <label asp-for="CategoryId">Kateqoriya seçin:<span class="text-danger" class="text-danger">*</span></label>
                    <select class="form-control" value="@Model.CategoryId" asp-for="CategoryId">
                        @foreach (var item in (List<Category>)ViewBag.categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }


                    </select>
                </div>


                <div class="form-group">
                    <label asp-for="BrandId">Brend seçin:<span class="text-danger" class="text-danger">*</span></label>
                    <select class="form-control" value="@Model.BrandId" asp-for="BrandId">
                        @foreach (var item in (List<Brand>)ViewBag.brands)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }


                    </select>
                </div>



                <div class="form-group">
                    <label asp-for="IsDiscount">Məhsul Endirimdədirmi ?</label>
                    <input class="form-control" value="@Model.IsDiscount" asp-for="IsDiscount">
                    <span class="text-danger" asp-validation-for="IsDiscount"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DiscountPrice">Endirim qiyməti:</label>
                    <input required class="form-control" value="@Model.DiscountPrice" asp-for="DiscountPrice">
                    <span class="text-danger" asp-validation-for="DiscountPrice"></span>
                </div>




                <div class="form-group">
                    <label asp-for="Count">Məhsulun sayı:</label>
                    <input required class="form-control" value="@Model.Count" asp-for="Count" placeholder="Məhsulun sayını daxil edin...">
                    <span class="text-danger" asp-validation-for="Count"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Məhsulun qiyməti:</label>
                    <input required class="form-control" value="@Model.Price" asp-for="Price" placeholder="Məhsulun qiymətini daxil edin...">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>



                <div class="form-group">
                    <label asp-for="ImageFiles">Məhsulun fotoları:</label>
                    <input class="form-control" asp-for="ImageFiles">
                    <span class="text-danger" asp-validation-for="ImageFiles"></span>
                </div>



                <button type="submit" class="btn btn-primary">Yenile</button>
            </form>
        </div>
    </div>
</div>


