@model Business.ViewModels.CategoriesViewModel.CategoriesViewModel
@{
    ViewData["Title"] = "Index";

    ViewData["Loader"] = "<div id=\"loadertop\"></div>";
}

<section class="side-navbar">
    <div id="mySidenav" class="sidenav">

        @foreach (var category in @Model.Categories)
        {

            <a class="category-title" asp-controller="Categories" asp-action="Index"><i class="bi bi-record-circle"></i> <p>@category.Name</p> </a>
        }


    </div>
</section>
<main>



    <section class="select-category">
        <div class="container">
            <div class="nav-pills-title">
                <h2>Məhsul Kateqoriyaları</h2>
            </div>
            <ul class="nav nav-pills mb-3" id="categoryfirst-tab" role="tablist">
                
                @foreach (var category in @Model.Categories)
                {
                    <li class="nav-item category-list" role="presentation">
                        <a class="nav-link category-btn" id="pills-@category.Name-tab" data-toggle="pill" href="#pills-@category.Name" role="tab" aria-controls="pills-@category.Name" aria-selected="true">@category.Name</a>
                    </li>
                }
                
            </ul>

            <div class="tab-content" id="categoryfirst-tabContent">


                @foreach (var category in @Model.Categories)
                {
                    <div class="tab-pane fade show" id="pills-@category.Name" role="tabpanel" aria-labelledby="pills-@category.Name-tab">


                        <div class="select-altcategory">


                            <div class="row">
                                <div class="col-3 responsive-select">
                                    <div class="nav flex-column nav-pills" id="v-altcategory-tab" role="tablist" aria-orientation="vertical">
                                        
                                        @foreach (var brand in @Model.Brands)
                                        {
                                            <a class="nav-link category-btn" id="v-pills-@brand.Name-tab" data-toggle="pill" href="#v-pills-@brand.Name" role="tab" aria-controls="v-pills-@brand.Name" aria-selected="true">@brand.Name</a>
                                        }

                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tab-content" id="v-altcategory-tabContent">
                                        
                                        @foreach (var brand in @Model.Brands)
                                        {
                                            
                                        <div class="tab-pane fade show active" id="v-pills-@brand.Name" role="tabpanel" aria-labelledby="v-pills-@brand.Name-tab">


                                            @foreach (var product in @Model.Products.Where(p => p.CategoryId == category.Id && p.BrandId == brand.Id))
                                            {

                                                if (Model.Products.Count != 0)
                                                {
                                                    

                                                                <a class="go-product" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                                                    <div class="product-card">
                                                                        <div class="product-image">
                                                                            <img src="~/assets/img/@Model.ProductImages.Where(p => p.ProductId == product.Id && p.IsMain == true).FirstOrDefault().Image" alt="">
                                                                        </div>

                                                                        <div class="add-fav">
                                                                            <a class="add-fav-btn" asp-controller="ProductOperation" asp-action="SetFavourite" asp-route-id="@product.Id" asp-route-ReturnUrl="@Context.Request.Path.Value"><i class="fas fa-heart"></i></a>
                                                                        </div>

                                                                        <div class="product-detail">
                                                                            <h2>@product.Name</h2>
                                                                            <div class="fav-stars">
                                                                                <p>@product.Description</p>
                                                                            </div>

                                                                            @if (product.IsDiscount == true)
                                                                            {
                                                                                <p class="product-price">₼ <s>@product.Price</s> @product.DiscountPrice</p>

                                                                            }
                                                                            else
                                                                            {

                                                                                <p class="product-price">₼ @product.Price</p>
                                                                            }

                                                                        </div>

                                                                        <div class="product-operations">

                                                                            <a class="add-to-cart-btn" asp-controller="ProductOperation" asp-action="SetCart" asp-route-id="@product.Id" asp-route-ReturnUrl="@Context.Request.Path.Value"><i class="bi bi-cart-plus-fill"></i></a>
                                                                        </div>


                                                                    </div>
                                                                </a>
                                                                


                                                }
                                                else
                                                {
                                                    <p>Axtarışınıza uyğun nəticə tapılmadı !</p>
                                                }

                                            }

                                        </div>
                                        }



                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                }

            </div>

        </div>
    </section>



</main>

